nav.navbar .username {
    color: #ddd;
}

.modal-dialog {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.modal-content {
    height:100%;
    width: 100%;
    border-radius: 0 !important;
    padding-top:30%;
    overflow: auto;
}

