
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Urban Colonization Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

            <a href="/addclue">Add clue</a>
            <a href="/viewclues">View clues</a>

            <br>

            <a href="/addlichen">Add lichen</a>
            <a href="/viewlichens">View lichen</a>


            <hr>

            <footer>
                <p>&copy; The Urban Colonization Project<p>
            </footer>
            </div> <!-- /container -->
    </body>
</html>
