<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Welcome to the Kansas City Urban Colonization project<h4>
            </div>
            <div class="modal-body">
                <h3>How to get started</h3>
                <p>This is the content This is the content This is the content This is the content This is the content This is the content pThis is the content</p>
                <ul>
                    <li>Choice 1: adada</li>
                    <li>Choice 2: adada</li>
                    <li>Choice 3: adada</li>
                </ul>
                <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Go!</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

