{% extends "navbarbase.html" %}
{% block navcontent %}
{% if alert == "success" %}
    <div class="alert alert-success" role="alert">Success!</div>
{% elif alert == "failure" %}
    <div class="alert alert-danger" role="alert">Failure</div>
{% endif %}
<div class="jumbotron">
    <div class="container">
        <h2>Next Clue:</h2>
        <p>{{ hint }}</p>
        <a class="btn btn-primary btn-lg" href="/takepicture">Confirm find</a>
        <a class="btn btn-warning btn" href="/rotateclue">Get new clue</a>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
    </div>
</div>
{% endblock %}
