{% extends "navbarbase.html" %}
{% block navcontent %}
<h1><img class="lichen" src="{{ lichen.image }}" alt=""> {{ lichen.name }} <span class="badge">num found: {{ lichen.num_found }}</span></h1>
 <br />
 {% if locked %}
    <div class="alert alert-danger">
        This Lichen is locked. Find an unlocked lichen to recieve a hint
    </div>
    {% else %}
 <h3>Hint:</h3>
 <p class="well">{{ lichen.hint }}</p>
<br />
<a class="btn btn-primary btn-lg" href="/takepicture">Confirm find</a>
<br />
<br />

{% if unfound %}
<div class="alert alert-danger">
    This Lichen has not yet been found. Confirm that you found it in order to unlock the gallery and additional information about this Lichen.
</div>
{% else %}
<br />
<h2>Science info</h2>
<div class="well">{{ lichen.description }}</div>

<h2>Gallery</h2>

<div class="row">
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}
