{% extends "navbarbase.html" %}
{% block navcontent %}
<div style="position: relative; height: 1716px;" id="container" class="clearfix masonry">

    {% for lichen in lichens %}
        <div class="box photo col3 masonry-brick">
            <span class="label label-default">{{ lichen.name }}</span>
            <a href="/lichens/{{ lichen.short_name }}"><img src="{{ lichen.image }}"></a>
        </div>
    {% endfor %}
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
    </div>
</div>
{% endblock %}

